# Исключаем виртуальное окружение
venv/
.venv/
env/

# Исключаем всё, что связано с Git
.git/
.gitignore

# Исключаем кэши и временные файлы
__pycache__/
*.pyc
*.pyo
__pycache__

# Исключаем файлы окружения с паролями
.env
.DS_Store
*.sqlite3