{% extends 'pages/base.html' %}
{% block content %}
{% load i18n %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="mb-4">{% trans "Восстановление пароля" %}</h2>

            <form method="post">
                {% csrf_token %}

                <div class="mb-4">
                    <label class="form-label">{% trans "Адрес электронной почты" %}:</label>
                    <input type="email" name="email" class="form-control rounded-2" placeholder="name@example.com">
                </div>

                <div class="mt-3">
                    <p class="text-secondary small">{% trans "Вспомнили пароль?" %}<a href="{% url 'users:login' %}">{% trans "Войти" %}</a></p>
                </div>

                <button type="submit" class="btn btn-primary rounded-pill w-100 mt-3">{% trans "Отправить ссылку" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}