{% extends 'pages/base.html' %}
{% block content %}
{% load i18n %}

<div class="container" style="margin-top: 100px !important;">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow p-4">
                <h2 class="text-center mb-4">{% trans "Придумайте новый пароль" %}</h2>

                {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }} <button type="submit" class="btn btn-primary w-100 mt-3">{% trans "Изменить пароль" %}</button></form>
                {% else %}
                <div class="alert alert-danger">{% trans "Ссылка устарела. Попробуйте еще раз." %}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}