{% extends 'pages/base.html' %}
{% load i18n %}

{% block content %}
<div class="col-6 mx-auto mt-5">
    <div class="card p-4 shadow">
        <h3 class="mb-3 text-primary">{% trans "Мой профиль" %}</h3>

        <div class="mb-4">
            <p><strong>{% trans "Имя" %}:</strong> {{ object.first_name }}</p>
            <p><strong>{% trans "Фамилия" %}:</strong> {{ object.last_name }}</p>
            <p><strong>{% trans "Дата рождения" %}:</strong> {{ object.date_of_birth }}</p>
            <p><strong>{% trans "Email" %}:</strong> {{ object.email }}</p>
            <p><strong>{% trans "Телефон" %}:</strong> {{ object.phone_number }}</p>
            <p><strong>{% trans "Адрес проживания" %}:</strong> {{ object.address }}</p>
        </div>

        <div class="d-grid gap-2 mb-4">
            {% if not user.is_staff and not user.is_doctor%}
            <a href="{% url 'appointments:appointment_create' %}" class="btn btn-outline-primary">{% trans "Записаться на прием" %}</a>
            <a href="{% url 'appointments:appointment_list' %}" class="btn btn-outline-primary">{% trans "Просмотр всех записей" %}</a>
            {% elif user.is_staff or user.is_doctor%}
            <a href="{% url 'appointments:appointment_list' %}" class="btn btn-outline-primary">{% trans "Просмотр всех записей" %}</a>
            <a href="{% url 'appointments:result_list' %}" class="btn btn-outline-primary">{% trans "Просмотр результатов диагностики" %}</a>
            {% endif %}
        </div>

        <div class="d-flex justify-content-end">
            <a href="{% url 'users:profile_update' %}" class="btn btn-outline-primary">{% trans "Редактировать профиль" %}</a>
        </div>
    </div>
</div>
{% endblock %}