{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top bg-white border-bottom border-light-subtle py-3 px-4 shadow-sm">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a class="navbar-brand d-flex align-items-center m-0 p-0 text-decoration-none" href="{% url 'pages:home' %}">
            <span class="text-dark fs-4" style="letter-spacing: -0.8px; font-weight: 500 !important;">invenio</span>
            <span class="fs-4"
                  style="color: #0000bf; font-weight: 300; letter-spacing: -0.5px; margin-left: 1px;">MED</span>
        </a>
        <div class="language-switcher">
            <form action="{% url 'set_language' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">

                <button type="submit" name="language" value="ru" class="btn btn-link">RU</button>
                |
                <button type="submit" name="language" value="en" class="btn btn-link">EN</button>
            </form>
        </div>
        <div class="collapse navbar-collapse justify-content-center mx-4" id="navbarNav">
            <ul class="navbar-nav gap-4">
                <li class="nav-item">
                    <a class="nav-link text-secondary fw-medium small hover-link"
                       href="{% url 'catalog:service_list' %}">{% trans "Услуги" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary fw-medium small hover-link"
                       href="{% url 'pages:page_detail' page_slug='about' %}">{% trans "О компании" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary fw-medium small hover-link"
                       href="{% url 'pages:page_detail' page_slug='contacts' %}">{% trans "Связаться с нами" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary fw-medium small hover-link"
                       href="{% url 'blog:blog_list' %}">{% trans "Блог" %}</a>
                </li>
            </ul>
        </div>

        <div class="d-flex align-items-center gap-2">
            {% if user.is_staff or user.is_doctor%}
            <a class="btn btn-link text-primary text-decoration-none btn-sm fw-medium small hover-link"
               href="{% url 'appointments:appointment_list' %}">{% trans "Записи пациентов" %}</a>
            <a class="btn btn-link text-primary text-decoration-none btn-sm fw-medium small hover-link"
               href="{% url 'appointments:result_list' %}">{% trans "Результаты пациентов" %}</a>
            {% endif %}
            {% if not user.is_authenticated %}
            <a class="btn btn-link text-secondary text-decoration-none btn-sm fw-medium small hover-link"
               href="{% url 'users:login' %}">{% trans "Войти" %}</a>
            <a class="btn btn-sm rounded-pill px-3 fw-medium small text-white"
               style="background-color: #0000bf;"
               href="{% url 'users:register' %}">{% trans "Регистрация" %}</a>
            {% else %}
            <a class="btn btn-link text-secondary text-decoration-none btn-sm fw-medium small hover-link"
               href="{% url 'users:profile' %}">{% trans "Мой кабинет" %}</a>
            <form action="{% url 'users:logout' %}" method="post" class="m-0">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger btn-sm me-3" href="{% url 'users:logout' %}">{% trans "Выйти" %}
                </button>
            </form>
            {% endif %}
        </div>

    </div>
</nav>
</body>
</html>